i{
    background-color: aqua;
}

.alia{
    background-color: red;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.vijay{
    background-color: blue;
}
.rajni{
    background-color: yellow;
}
.nayana{
    background-color: greenyellow;
}

#vs{
    background-color: chocolate;
}